.App {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  background-color: white;
  color: #282c34;
}

.App-content {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.nav-menu-center {
  margin: 0 auto;
}

.nav-link-center{
  display: flex; 
  justify-content: center;
  margin-right: 50px ;
  margin-left: 50px ;
}

